body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:784px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:523px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:523px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:254px;
  width:780px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:7px;
  width:106px;
  height:37px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:44px;
  width:108px;
  height:22px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:22px;
  width:201px;
  height:22px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:341px;
  width:296px;
  height:166px;
}
#u193_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:166px;
  overflow:auto;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:86px;
  width:761px;
  height:223px;
}
#u194_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:223px;
  overflow:auto;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:330px;
  width:412px;
  height:177px;
}
#u195_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:177px;
  overflow:auto;
}
